<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>Home</title>
	</head>
	<body>
		<h1>Assignments</h1>
		<table>
			<thead>
				<th>Assignment</th>
				<th>Score</th>
				<th>Total</th>
				<th>Completed</th>
				<th>Actions</th>
			</thead>
			<tbody>
				{{#each assignments}}
					<tr>
						<td>{{name}}</td>
						<td>{{score}}</td>
						<td>{{possible}}</td>
						{{#if completed}}
							<td>✔</td>
						{{else}}
							<td></td>
						{{/if}}
						<td><a href="/delete/{{id}}">Delete</a></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<p><span class="bold">Overall Average: </span>
			{{average}}%
		</p>
		<p><a href="/add">Add an Assignment</a></p>
	</body>
</html>